<div>

<form class="form-horizontal" action='' method="POST">
  <fieldset>
    <div id="legend">
      <legend class="">Register an Item</legend>
    </div>
    <div class="control-group">
      <!-- Name -->
      <label class="control-label"  for="name">Item Name</label>
      <div class="controls">
        <input type="text" id="name" name="name" placeholder="" class="form-control  input-sm">
        <p class="help-block"></p>
      </div>
    </div>
 
    <div class="control-group">
      <!-- Description -->
      <label class="control-label" for="description">Description</label>
      <div class="controls">
        <input type="text" id="description" name="description" placeholder="" class="form-control input-xlarge">
        <p class="help-block"></p>
      </div>
    </div>

     <div class="control-group">
      <!-- Email -->
      <label class="control-label" for="email">Email</label>
      <div class="controls">
        <input type="text" id="email" name="email" placeholder="" class="form-control input-xlarge">
        <p class="help-block"></p>
      </div>
    </div>

     <div class="control-group">
      <!-- Phone -->
      <label class="control-label" for="details">Phone</label>
      <div class="controls">
        <input type="text" id="phone" name="phone" placeholder="" class="form-control input-xlarge">
        <p class="help-block"></p>
      </div>
    </div>

     <div class="control-group">
      <!-- City -->
      <label class="control-label" for="city">City</label>
      <div class="controls">
        <input type="text" id="city" name="city" placeholder="" class="form-control input-xlarge">
        <p class="help-block"></p>
      </div>
    </div>


     <div class="control-group">
      <!-- State -->
      <label class="control-label" for="state">State</label>
      <div class="controls">
        <input type="text" id="state" name="state" placeholder="" class="form-control input-xlarge">
        <p class="help-block"></p>
      </div>
    </div>

     <div class="control-group">
      <!-- Longtude -->
      <label class="control-label" for="lon">Longtude</label>
      <div class="controls">
        <input type="text" id="lon" name="lon" placeholder="" class="form-control input-xlarge">
        <p class="help-block"></p>
      </div>
    </div>

     <div class="control-group">
      <!-- Latitude -->
      <label class="control-label" for="details">Latitude</label>
      <div class="controls">
        <input type="text" id="lat" name="lat" placeholder="" class="form-control input-xlarge">
        <p class="help-block"></p>
      </div>
    </div>

     <div class="control-group">
      <!-- Photo -->
      <label class="control-label" for="photo">Upload item photo</label>
      <div class="controls">
        <input type="file" id="photo" name="photo" placeholder="" class="form-control input-xlarge">
        <p class="help-block"></p>
      </div>
    </div>
 
    <div class="control-group">
      <!-- Button -->
      <div class="controls">
        <button class="btn btn-success">Submit</button>
      </div>
    </div>
  </fieldset>
</form>
</div>